Flask
Flask-Cors
flask-marshmallow
Flask-PyMongo
flask-restx
Flask-Session
Flask-SQLAlchemy
Flask-Migrate
jsonschema
pymongo
PyMySQL
redis
supervisor
uWSGI
marshmallow-sqlalchemy
cryptography
requests
python-dateutil